* {
  box-sizing: border-box;
}

:root {
  --gray-font: #545454;
}

body {
  background-color: rgb(211, 211, 211);
  font-size: 16px;
  color: var(--gray-font);
}

.container {
  width: 90%;
  margin: auto;
}

@media (min-width:800px) {
  body {
    font-size: 20px;
  }

  .container {
    width: 80%;
  }
}

@media (min-width:1800px) {
  body {
    font-size: 32px;
  }

  .container {
    width: 70%;
  }
}


.container>div {
  color: blue;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 32px;
}

@media (min-width:800px) {
  h1 {
    font-size: 42px;
  }
}

@media (min-width:1800px) {
  h1 {
    font-size: 64px;
  }
}

p {
  width: 90%;
  margin: 20px 20px 0 0;
}

span {
  position: absolute;
  right: 0;
  top: -22px;
  padding: 17px 0;
  display: none;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

@media (min-width:800px) {
  span {
    padding: 21px 0;
  }
}

img {
  width: 250px;
  height: 250px;
  margin: auto;
  display: none;
}

@media (min-width:800px) {
  img {
    width: 300px;
    height: auto;
  }
}

@media (min-width:1800px) {
  img {
    width: 400px;
  }
}

.container:hover {
  cursor: pointer;
}

.container:hover span {
  display: block;
}

.container:hover div {
  color: var(--gray-font);
}



.container>div:hover {
  cursor: pointer;
  color: var(--gray-font);
}

.container>div:hover>img {
  display: block;
}

.container>div:hover>span {
  transform: rotate(220deg);
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
}


.container>div:focus {
  border: none;
  outline: none;
  color: var(--gray-font);
}

.container>div:focus>img {
  display: block;
}

.container>div:focus>span {
  transform: rotate(220deg);
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
}